<div class="enemy-ship-name-label">
</div>
<div class="enemy-ship-status">
</div>
<div class="space">
    <div id="my-ship-status">
    </div>
    <div id="opponent-ship-status">
    </div>
</div>

<div class="engine">
    <div><label>能源核心</label>
        <span>（<label id="current-energy-number"></label>/<label id="max-energy-number"></label>）</span>
        <button class="sort-type sort-type-number btn btn-default">
            <div class="sort-type-number-content">321</div>
        </button>
        <button class="sort-type sort-type-suit btn btn-default">
            <div class="sort-type-suit-content">
                <div class='sort-type-suit-color1'></div>
                <div class='sort-type-suit-color2'></div>
                <div class='sort-type-suit-color3'></div>
            </div>
        </button>
    </div>
    <div class="energy-list">
    </div>
</div>
<div class='weapon-panel'>
</div>